<div class="about">
    <div class="background-about">
        <div class="content text-center">
            <h1 class="text-medium">This is all about travelling</h1>
            <hr class="divider-white">
            <p class="text-small">
                Travelling is really awesome. It will bring you to another place and meet new people. Travel as backpackers is more challenging. It's also good to build your inner self; motivation, spirit, mature, and go out of your confort-zone. I suggest you to go
                to third world country since it will teach you how to be a perfect man.
            </p>
        </div>
    </div>

    <div class="background-how-it-work">
        <h1 class="text-medium">How It's Work</h1>
    </div>
</div>
