<div class="text-center">
    <div id="topics">
      <h1>Topics</h1>
      <% @topics.each do |topic| %>
      <%= render partial: "topic", locals: { topic: topic } %>
      <% end %>
  </div>
</div>

<div class="text-center">
<%= paginate @topics%>
</div>

<div id="topics-form-container">
  <div class="text-center margin-create-topic">
    <%= render partial: "form", locals: { topic: @topic } %>
  </div>

</div>
